<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Upload CSV</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Upload CSV File for Running DS Model</h1>
        <form method="post" enctype="multipart/form-data" action="/upload">
            <div class="form-group">
                <label for="file">Choose CSV File</label>
                <input type="file" class="form-control-file" name="file" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Upload</button>
        </form>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-warning mt-3">
                    <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endwith %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
